
* {  
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-color: white;
  padding: 0 1.9rem;
}

  h1 {
    color: #172b4d;
  }

.navbar_menu{
  display:none;
}

.desktop{
  display: none;
}

  header .logostyle{
    font-size: 1.125rem;
    font-weight: 700;
    color: #6070ff;
    cursor: pointer;
  }

  .logostyle:hover{
    border:none;
    border-radius: 10px;
    background-color: rgba(96, 112, 255, 1);
    color: white;
    
   }


header .icon {
  cursor: pointer;
}

.headline-section {
  background-image: url("./images/background.png"); 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 2vh 2vw;
  display: inline-flex;
  padding: 6.125rem 1rem;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  width: 61vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
color: #172b4d;
}

.paragraph-p1 {
  width:  76vw;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #172b4d;
}

.social-media {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
  word-spacing: 1px;
}

.social-media-icons {
  width: 27.325528582615506vw;
margin-top:0.5rem;
  gap:1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  
}

.social-media-icons img:hover{
 opacity:0.5 ;

}

.works-section {
  padding: 110px 0;
  display: grid;
  grid-template-rows: 1fr 1.09fr 1fr 1.09fr;
  gap: 5rem;
  justify-items: center;
}

.cards {
  height: fit-content;
  border-radius: 1rem;
  border: 1px solid #dfe1e6;
  background: #fff;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.cards .project-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.primary-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.primary-details h1 {
  color: #172b4d;
}

.primary-details .canopy {
  display: flex;
  align-items: center;
  gap: 12px;
}

.canopy p {
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 1rem;
}

.canopy .dark {
  color: #344563;
}

.project-description {
  width: 295px;
  height: 76px;
  color: #344563;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.languages {
  display: flex;
  align-items: center;
  gap: 8px;
}

.languages  .button{
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: #ebebff;
}

.languages li  {
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.36px;
}

.see-project-btn,
.resume-button,
.submit-button {
  height: 48px;
  vertical-align: middle;
  line-height: 48px;
  padding: 0 15px;
  margin-top: 18px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  font-size: 17px;
  font-weight: 500;
  color: #396df2;
  cursor: pointer;
}

.see-project-btn:hover,.resume-button:hover{
background-color: rgba(96, 112, 255, 1);
color:white;
}


.about-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.about-section {
  display: inline-flex;
  padding: 114px 0;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-top-right-radius: 100px;
  background-color: white;
}

.myself-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 327px;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
 .social-icons {
  margin: 0.5rem 0 0 0.80rem;
  
}

.social-icons img:hover{
opacity: 0.5;
}


.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lang-section img:hover{
opacity: 0.5;
}

.lang-section > div {
  align-self: center;
}

.lang-section img {
  margin-left: 3rem;
}

 .lang-list {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.lang-list li {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  background: #f7f7f9;
}

.lang-list p {
  display: flex;
  width: 215px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #253858;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.frame,
.lang-section > div {
  width: 327px;
  height: 72px;
  display: flex;
  align-items: center;
}

.frame img:hover{
  opacity: 0.5;
}

.frame p,
.lang-section p {
  width: 237px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.frame img {
  margin-left: 40px;
}

.separator {
  width: 340px;
  height: 1px;
  background: #dfe1e6;
}

.contact-wrapper {
  background-color: white;
  padding-top: 3.5rem;
}

.contact-section {
  background-image: url(./imgs/contact-background.svg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: #6070ff;
  height: 779px;
  border-top-left-radius: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-section h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-top: 5rem;
}

.contact-section p {
  width: 327px;
  height: 137px;
  color: #ebebff;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 0.6rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

form input {
  width: 297px;
  height: 48px;
  padding: 0 15px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
}

input::placeholder
{
  color: black;
}

textarea::placeholder {
  color: #b3bac5;
  font-weight: 300;
}

form textarea {
  width: 297px;
  height: 140px;
  padding: 15px;
  font-size: 15px;
  color: #172b4d;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.submit-button {
  margin: 0;
  align-self: flex-start;
}

@media screen and (min-width:768px)
{
  header{
display: flex;
justify-content: space-between;
padding:1rem 7rem;
 }

 .logostyle{
  padding:1rem;
  font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: 1.25rem;
cursor: pointer;

 }
 .logostyle:hover{
  border:none;
  border-radius: 10px;
  background-color: rgba(96, 112, 255, 1);
  color: white;
 }

 .icon{
  display: none;
 }

 .navbar_menu{
  display: flex;
 }

 .menu_items{
  display: flex;
 padding: 1rem;
 cursor: pointer;
 font-size: 0.9375rem;
font-style: normal;
font-weight: 500;
line-height: 1.25rem; 
color:rgba(52, 69, 99, 1);
 }

 .menu_items:hover{
color:rgba(96, 112, 255, 1);

 }

 .headline-section {
  display: flex;
  padding: 10rem 15rem ;
  flex-direction: column;
  justify-content: center;
  background-image: url("./images/Header\ bg.svg"); 
}

.headline-section .heading
{
 display: flex;
 flex-direction: column;
 width: 35.875vw;
 height: 22.23vh;
 font-size: 3rem;
 font-weight: 600;
 font-style: normal;
 line-height: 3.5rem; 
 letter-spacing: 0.02313rem;
 color:rgba(9, 30, 66, 1);
}

.headline-section .paragraph-p1{
  margin-top: 1.8rem;
  width: 71.875vw;
  height: 19.69vh;
  font-size: 1.20rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.social-media{
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 6vh;
}

.social-media-icons{
  width: 13.4vw;
  height: 3.1vh;
  flex-shrink: 0;
  margin-top: 0.5rem;
}

.works-section {
  padding: 7rem 0;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 7rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1.5rem;
}

.mobile {
  display: none;
}

.desktop {
  display: inline;
}

.desktop.opposite {
  order: 1;
}

.project-details {
  padding-top: 2rem;
  height: 100%;
}

.primary-details {
  gap: 1rem;
  padding: 1rem;
}

.primary-details h1 {
  font-size: 40px;
  color: #091e42;
}

.canopy {
  margin: 0.7rem 0 1.5rem 0;
}

.canopy p {
  font-size: 18px;
  font-weight: 500;
}

.canopy .dark {
  font-weight: 700;
}

.project-description {
  font-size: 16px;
  width: 33rem;
  padding-right: 25%;
  height: auto;
}

.languages {
  margin: 0.5rem 0;
}

.languages li span {
  font-size: 15px;
}


.languages li {
  display: flex;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: #ebebff;
}

.languages li span {
  color: #6070ff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.36px;
}

#ruby{
  display: flex;
  padding: 0.25rem 1rem;
  align-items: center;
  border-radius: 8px;
  background: #ebebff;
}

.about-section {
  width: 100%;
  flex-direction: row;
  gap: 4rem;
  height: 90vh;
  padding: 0 10rem;
  border-top-right-radius: 10rem;
}

.myself-section {
  width: 36%;
}

.myself-section .text-content {
  width: auto;
}

.skills-section {
  width: 55%;
  align-items: flex-start;
}

.lang-section {
  width: 100%;
}

.frame,
.lang-section > div {
  width: 100%;
}

.frame p,
.lang-section p {
  width: 100%;
}

.lang-section .lang-list {
  flex-direction: row;
  width: 100%;
}

.lang-list li {
  flex-direction: column;
  height: 7.5rem;
  width: 7.625rem;
  align-items: flex-start;
  padding-left: 1.5rem;
}

.lang-list img {
  margin: 0;
}

.lang-list p {
  width: auto;
  height: auto;
}

.separator {
  width: 105%;
}

form {
  margin: 0;
  width: 30%;
}

form input,
form textarea {
  border-radius: 0;
  width: 93%;
}

.submit-button{
  align-self: center;
}

.submit-button:hover{
opacity: 0.8;
}

.contact-section p{
width:42%;

}








}

